# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.qmlc

#Downloaded Files by the mlox updater
mlox/mlox_base.txt
mlox/mlox-data.7z

#Files created by the windows EXE compiler
mlox/mlox.build
mlox/mlox.dist

#Files created by mlox
mlox_debug.out
mlox_new_loadorder.out
current_loadorder.out

#Build Systems and IDEs
build/
.idea/
