# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Downloaded Files by the mlox updater
mlox/mlox_base.txt
mlox/mlox-data.7z

#Files created by mlox
mlox_debug.out
mlox_new_loadorder.out
current_loadorder.out
