[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
twine = "*"
pytest = "*"

[packages]
colorama = "*"
pyqt5 = "*"
appdirs = "*"
libarchive-c = "*"
py7zr = "*"

[requires]
python_version = "3.7"
